Exercise 2: Create a markdown cell with the title of the notebook (1 pt)

In [1]:
 # Assesment - 1

Exercise 3: Create a markdown cell for an introduction (1 pt)

In [4]:
# Introduction 
This notebook provides an overview of data science languages, libraries, and tools, along with practical examples.

In [ ]:
Exercise 4: Create a markdown cell to list data science languages (3 pts)

In [6]:
## Data Science Languages
 - Python
 - R
 - SQL
 - Scala

In [ ]:
Exercise 5: Create a markdown cell to list data science libraries (3 pts)

In [ ]:
## Data Science Libraries
- Pandas
- NumPy
- Scikit-learn
- TensorFlow
- Keras

In [ ]:
Exercise 6: Create a markdown cell with a table of Data Science tools (3 pts)

In [ ]:
## Data Science Tools
| Tool          | Description                               |
|------------- -|-------------------------------------------|
| Jupyter       | Interactive computing environment         |
| GitHub        | Code repository and version control       |
| Google Colab  | Cloud-based Jupyter notebook              |
| RStudio       | IDE for R programming                     |
| Tableau       | Data visualization software               |

In [ ]:
Exercise 7: Create a markdown cell introducing arithmetic expression examples (1 pt)

In [ ]:
## Arithmetic Expressions
Below are examples of simple arithmetic operations.

In [ ]:
Exercise 8: Create a code cell to multiply and add numbers (2 pts

In [8]:
# Example of arithmetic operations
a = 5
b = 10
product = a * b
sum_result = a + b
product, sum_result

(50, 15)

In [ ]:
Exercise 9: Create a code cell to convert minutes to hours (2 pts)

In [10]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

In [ ]:
Exercise 10: Insert a markdown cell to list Objectives (3 pts)

In [ ]:
## Objectives
- Understand basic data science languages and libraries.
- Learn how to use key data science tools.
- Perform simple arithmetic operations in Python.
- Convert units using Python code.

In [ ]:
Exercise 11: Create a markdown cell to indicate the Authorâ€™s name (2 pts)

In [ ]:
## Author
- Dharshithaa K